#subtitle {
     padding-top: 11%;
}

.loader {
     align-self: center;
     align-items: center;
     align-content: center;
     width: 300%;
     height: 300%;
     size: 30  rem;
}

#fix {
     padding-top: 30px;
}

::-webkit-scrollbar {
     width: 16px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
     background: #0E0E0F !important;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #5865F2 !important;
     border-radius: 100px !important;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #202225 !important;
 }