

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     background-color: #f3f3f3;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Roboto', sans-serif;
}

h2 {
     font-size: 22px;
     font-family: 'Roboto', sans-serif;
}

h3 {
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.main-layout {
     background-color: #fff;
}

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     padding-top: 12px;
}

#blacken {
     color: #fff !important;
}

#blacken:hover {
     color: #0891f8 !important;
 }

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fff;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
     background: #000;
     background-size: 100% 100%;
     background-repeat: repeat;
     background-position: center;
     margin-bottom: 50px;
}

.header {
     width: 100%;
     background: transparent;
     padding: 30px 30px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.banner_main {
     padding: 90px 0 190px 0;
}

.text-bg {
     text-align: left;
     max-width: 561px;
     width: 100%;
     float: right;
     padding-right: 141px;
}

.text-bg h1 {
     color: #fff;
     font-size: 48px;
     line-height: 65px;
     font-weight: bold;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
}

.text-bg a {
     font-size: 17px;
     background-color: #fff;
     color: #0053eb;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}

.text-img {
     padding-top: 100px;
}

.text-img figure {
     margin: 0px;
}

.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: #3e3e3e;
     line-height: 35px;
     font-weight: bold;
     padding: 0;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}


/** business section **/

.business {
     padding-top: 90px;
}

.business .titlepage span {
     color: #0053eb;
     font-size: 30px;
     font-family: 'Baloo Chettan', cursive;
     text-transform: uppercase;
     line-height: 37px;
     padding-bottom: 10px;
     display: inline-block;
}

.business .titlepage h2 {
     color: #272f43;
     font-weight: normal;
}

.business .business_box {
     text-align: center;
}

.business .business_box figure {
     margin: 0;
}

.business .business_box figure img {
     width: 100%;
}

.business .business_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     padding: 35px 0px;
}

.business .business_box .read_more {
     background: #252525;
     color: #fff;
}

.business .business_box .read_more:hover {
     background: #0053eb;
}


/** end business section **/


/** projects section **/

.projects {
     padding-top: 90px;
     position: relative;
}

.projects::after {
     position: absolute;
     content: "";
     width: 320px;
     height: 542px;
     right: 0;
     background: url(../images/midil.png);
     top: -210px;
}

.projects .titlepage span {
     color: #0053eb;
     font-size: 30px;
     font-family: 'Baloo Chettan', cursive;
     text-transform: uppercase;
     line-height: 37px;
     padding-bottom: 10px;
     display: inline-block;
}

.projects .titlepage h2 {
     color: #272f43;
     font-weight: normal;
}

.projects .projects_box {
     text-align: center;
}

.projects .projects_box figure {
     margin: 0;
}

.projects .projects_box figure img {
     width: 100%;
}

.projects .projects_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     padding: 60px 0px 35px 0px;
}

.projects .projects_box .read_more {
     background: #252525;
     color: #fff;
}

.projects .projects_box .read_more:hover {
     background: #0053eb;
}


/** end projects section **/


/** Testimonial section **/

.Testimonial {
     background: url(../images/test.png);
     background-repeat: no-repeat;
     margin-top: 90px;
     padding: 90px 0px;
     background-position: center;
     background-size: 100% 100%;
}

.Testimonial .titlepage h2 {
     color: #fff;
     margin-bottom: 0px;
     padding-bottom: 0px;
}

.Testimonial .titlepage span {
     color: #fff;
}

.Testimonial_box i {
     border: #e6e1e1 solid 12px;
     width: 150px;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     border-radius: 210px;
     cursor: pointer;
     background: #e6e1e1;
}

.Testimonial_box i::after {
     position: absolute;
     content: "";
     width: 50px;
     height: 50px;
     bottom: 40px;
     right: 63px;
     display: inline-block;
     border: #ddd solid 6px;
     border-radius: 30px;
}

.Testimonial_box {
     text-align: left;
}

.Testimonial_box h4 {
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     line-height: 20px;
     font-weight: 400;
     padding: 0;
}

.Testimonial_box p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 25px 0;
     padding-right: 200px;
}


/** end Testimonial section **/

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
}

.read_more:hover {
     background: #000;
     color: #fff;
     border-radius: 26px;
     transition: ease-in all 0.5s;
}


/** footer **/

.multi {
     color: #000000;
}

.footer {
     background: #fff;
}

.cont {
     text-align: center;
     margin-top: 80px;
}

.cont h3 {
     font-family: 'Righteous', cursive;
     font-size: 30px;
     line-height: 45px;
     color: #23262d;
     font-weight: bold;
     padding-bottom: 30px;
}

.cont span {
     color: #fff;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}

ul.social_icon {
     text-align: center;
}

ul.social_icon li {
     display: inline-block;
     margin: 0 3px;
}

ul.social_icon li a {
     background: #fff;
     box-shadow: #ddd 0px 0px 10px 0px;
     font-size: 22px;
     padding-top: 5px;
     border-radius: 50px;
     width: 50px;
     height: 50px;
     display: inline-block;
     color: #0053eb;
}

ul.social_icon li a:hover {
     background: #23262d;
}

.copyright {
     padding: 20px 0px;
     background: #000000;
     margin-top: 50px;
     position: relative;
}

.copyright::after {
     content: "";
     position: absolute;
     bottom: 61px;
     width: 290px;
     height: 292px;
     right: 0;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #23262d;
}


/** end footer **/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.blurple {
  color: #000000;
}

.bg-base {
  background-color: #1a2634 !important;
}

#backtotop {
  display: inline-block;
  background-color: #7289da;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}

#backtotop:active {
  background-color: #555;
}

#backtotop.show {
  opacity: 0.4;
  visibility: visible;
}

.navbar-item,
.navbar-link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-item:hover {
  background-color: transparent !important;
  color: #7289da !important;
}

.navbar-link:hover {
  background-color: transparent !important;
  color: #7289da !important;
}

.navbar-menu {
  animation: navAnimOpen 0.2s ease-in-out;
}

@keyframes navAnimOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

nav,
.navbar-menu {
  background-color: #000000 !important;
}

.navbar-item.nav-dark,
.navbar-link.nav-dark {
  color: #363636 !important;
}

.navbar-item,
.navbar-link {
  color: white !important;
}

nav.nav-w {
  background: #fff !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.nav-w {
  background: #fff !important;
  box-shadow: 100px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.mb-12 {
  margin-bottom: 6rem;
}

.mt-12 {
  margin-top: 6rem;
}

.ml-12 {
  margin-left: 6rem;
}

.mr-12 {
  margin-right: 6rem;
}

.img-col-ml-13 {
  margin-left: 13rem;
}

.img-col-mr-13 {
  margin-right: 13rem;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.line {
  background: #00d1b2;
  background: #00d1b2;
  width: 150px;
  height: 5px;
}

.line2 {
  background: #00d1b2;
  background: #00d1b2;
  width: 75px;
  height: 5px;
}

.line-center {
  margin: 0 auto;
}

.line.blurple {
  background: #000000;
}

.title.lined {
  margin-bottom: 0px;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.vert-move2 {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.button.is-blurple {
  background-color: #7289da;
  border-color: transparent;
  color: #fff;
}

.single-feature {
  position: relative;
  z-index: 5;
}

.shape-right {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: -1;
  opacity: 100%;
}

.shape-right img {
  width: 100%;
}

@media (max-width: 767px) {
  .shape-right
 {
    display: none;
  }
}

.shape-left {
  position: absolute;
  top: -80px;
  left: 90px;
  width: 35%;
  height: 100%;
  z-index: -1;
  opacity: 100%;
}

.shape-left img {
  width: 100%;
}

@media (max-width: 767px) {
  .shape-left {
    display: none;
  }
}

#subtitle {
     padding-top: 11%;
}

.loader {
     align-self: center;
     align-items: center;
     align-content: center;
     width: 300%;
     height: 300%;
     size: 30  rem;
}

#fix {
     padding-top: 30px;
}